<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de sesión</title>
</head>
<body>
     <h2>Iniciar sesion</h2>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            <u1>
                 {% for msg in messages %}
                 <l1>{{ msg }}</l1>
                 {% endfor %}
            </u1>
        {% endif %}
     {% endwith  %}
     
     <form method="post">
         <label> Usuario: </label>
         <input type="text" name="username" required>
         <br>
         <label>contraseña:</label>
         <input type="password" name="username" required>
         <br>
         <button type="submit">iniciar sesión</button>
     </form>
</body>
</html>
