<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login de sesión</title>
</head>
<script>

        async function signIn(){

            fetch("http://172.30.0.10:5050/api/login", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    username: "user",
                    pasword: "1234"
                })
            })
            .then(response => response.json())
            .then(response => {
            console.log(response)
                if(response.isSuccess==true){
                    window.location = "http://172.30.0.10:5050";
                }
            })
        }
</script>
<body>
     <h2>Iniciar sesion</h2>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
            <u1>
                 {% for msg in messages %}
                 <l1>{{ msg }}</l1>
                 {% endfor %}
            </u1>
        {% endif %}
     {% endwith  %}
     
     <div>
         <label> Usuario: </label>
         <input type="text" name="username" required>
         <br>
         <label>contraseña:</label>
         <input type="password" name="username" required>
         <br>
         <button onclick='signIn()'>iniciar sesión</button>
     </div>
</body>
</html>
